.table-responsive {
  height: calc(100vh - 56px);
}
.col-checkbox-width {
  width: 3vw;
  padding-bottom: 15px !important;
}
.col-srno-width {
  width: 5vw;
  padding-bottom: 15px !important;
}
.col-location-width {
  width: 15vw;
  padding-bottom: 15px !important;
}
.col-description-width {
  width: 25vw;
  padding-bottom: 15px !important;
}
.col-country-width {
  width: 10vw;
  padding-bottom: 15px !important;
}
.col-state-width {
  width: 11vw;
  padding-bottom: 15px !important;
}
.col-city-width {
  width: 15vw;
  padding-bottom: 15px !important;
}
.col-tags-width {
  width: 16vw;
}
.check-box {
  transform: scale(1.3);
}
.row-text {
  text-transform: capitalize;
}
.close-btn {
  cursor: pointer;
  margin-left: 15px;
}

/* Tag select Css */
.css-13cymwt-control {
  width: 8vw !important;
  border: none !important;
}
.css-1jqq78o-placeholder {
  color: black !important;
}
.css-t3ipsp-control {
  border: none !important;
}
